.useCases {
    background: var(--color-grey);
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.slider {
    margin: 0;

    height: 880px;
}

.slide {
    display: flex;
    align-items: center;
}

.pagination {
    height: 408px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.pagination::before {
    content: '01';

    font-family: var(--font-inter);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2em;
    text-transform: uppercase;

    color: var(--color-white);
}

.pagination::after {
    content: '03';

    font-family: var(--font-inter);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2em;
    text-transform: uppercase;

    color: var(--color-white);
}

.bullet {
    width: 4px;
    height: 100%;

    border-radius: 2px;
    background: var(--color-white-24);

    transition: background-color .3s ease;

    cursor: pointer;
}

.bullet.active {
    background: var(--color-blue);
}