.intro {
    margin-top: 104px;

    height: calc(100vh - 104px);

    display: flex;
    align-items: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title {
    max-width: 680px;
}

.title span {
    color: var(--color-blue);
}

.text {
    margin-top: 32px;

    max-width: 360px;
}

.button {
    margin-top: 32px;
}

.img {
    margin: 0 74px;
    display: block;
}