.api {
    margin-top: 120px;
}

.container {
    padding: 0 80px;
    height: 550px;

    display: flex;
    align-items: center;


    border-radius: 40px;
    background: url("/img/home/api/background.png") no-repeat center left / cover;
}

.title {
    color: var(--color-white);
}

.text {
    margin-top: 32px;

    max-width: 380px;

    color: var(--color-white);
}

.button {
    margin-top: 32px;

    font-size: 18px;
}